# i_line name   lambda   action   l-kind   A_i       V_g/i   sig_g/i   fit-kind   AoN
#               \AA      f/i/m    l/d#     1/rel2#   km/s    km/s      f/h/t

# Forbidden and Recombination lines - To share separate line-of-sight
#                                     Gaussian profiles. Use a
#                                     Ha/Hb=2.86 Balmer decrement

   0     HeII     3203.15 f      l       1.000      0    10     f      4
   1     [NeV]    3345.81 f      l       1.000      0    10     f      4
   2     [NeV]    3425.81 f      l       1.000      0    10     f      4
   3     [OII]    3726.03 f      l       1.000      0    10     f      4
   4     [OII]    3728.73 f      l       1.000      0    10     f      4
   5     [NeIII]  3868.69 f      l       1.000      0    10     f      4
   6     [NeIII]  3967.40 f      l       1.000      0    10     f      4
   7     H5       3889.05 f      d24     0.037      0    10     f      4
   8     He       3970.07 f      d24     0.056      0    10     f      4
   9     Hd       4101.73 f      d24     0.091      0    10     f      4
  10     Hg       4340.46 f      d24     0.164      0    10     f      4
  11     [OIII]   4363.15 f      l       1.000      0    10     f      4
  12     HeII     4685.74 f      l       1.000      0    10     f      4
  13     [ArIV]   4711.30 f      l       1.000      0    10     f      4
  14     [ArIV]   4740.10 f      l       1.000      0    10     f      4
  15     Hb       4861.32 f      l       0.350      0    10     f      4
  16     [OIII]   4958.83 f      d17     0.350      0    10     t17    4
  17     [OIII]   5006.77 f      l       1.000      0    10     f      4
  18     [NI]     5197.90 f      l       1.000      0    10     t17    4
  19     [NI]     5200.39 f      l       1.000      0    10     t17    4
  20     HeI      5875.60 f      l       1.000      0    10     t25    4
  21     [OI]     6300.20 f      l       1.000      0    10     t25    4
  22     [OI]     6363.67 f      d21     0.333      0    10     t25    4
  23     [NII]    6547.96 f      d25     0.340      0    10     t25    4
  24     Ha       6562.80 f      l       1.000      0    10     f      4
  25     [NII]    6583.34 f      l       1.000      0    10     f      4
  26     [SII]    6716.31 f      l       1.000      0    10     t25    4
  27     [SII2]   6730.68 f      l       1.000      0    10     t25    4
  30     [ArIII]  7135.67 f      l       1.000      0    10     t25    4

  # line 31 - 48  (< 2000 ang) are in vacuum system
  # line 49 - 88 are converted from vacuum to air using
  # formula from Ciddor 1996, Applied Optics, 35, 1566.
  # Adapted from vactoair.pro & airtovac.pro (Lindler/Landsman/Schlegel).
  # This Python implementation by A. Bolton, U. Utah, 2011 March.

  31     OVI     1033.82        f      l       1.000      0    10     f    4
  32     Lya     1215.24        f      l       1.000      0    10     f    4
  33     NV      1240.81        f      l       1.000      0    10     f    4
  34     OI      1305.53        f      l       1.000      0    10     f    4
  35     CII     1335.31        f      l       1.000      0    10     f    4
  36     SiIV    1398           f      l       1.000      0    10     f    4
  37     OIV     1402           f      l       1.000      0    10     f    4
  38     NIV     1483           f      l       1.000      0    10     f    4
  39     NIV     1487           f      l       1.000      0    10     f    4
  40     CIV     1549.48        f      l       1.000      0    10     f    4
  41     HeII    1640.4         f      l       1.000      0    10     f    4
  42     OIII    1665.85        f      l       1.000      0    10     f    4
  43     NIII    1750           f      l       1.000      0    10     f    4
  44     SiII    1814           f      l       1.000      0    10     f    4
  45     SiIII   1883           f      l       1.000      0    10     f    4
  46     SiIII   1892           f      l       1.000      0    10     f    4
  47     AlIII   1857.4         f      l       1.000      0    10     f    4
  48     CIII    1908.73        f      l       1.000      0    10     f    4
  49     OIII    2320.28        f      l       1.000      0    10     f    4
  50     CII]    2325.28        f      l       1.000      0    10     f    4
  51     NeIV    2438.76        f      l       1.000      0    10     f    4
  52     MgII    2798.29        f      l       1.000      0    10     f    4
  53     NeVI    3425.87        f      l       1.000      0    10     f    4
  54     H12     3749.93        f      l       1.000      0    10     f    4
  55     H11     3770.93        f      l       1.000      0    10     f    4
  56     H10     3797.92        f      l       1.000      0    10     f    4
  57     H9      3835.91        f      l       1.000      0    10     f    4
  58     HeI     3887.90        f      l       1.000      0    10     f    4
  59     H8      3888.90        f      l       1.000      0    10     f    4
  61     SII     4071.15        f      l       1.000      0    10     f    4
  63     FeV     4229.80        f      l       1.000      0    10     f    4
  65     OIII    4363.21        f      l       1.000      0    10     f    4
  66     HeI     4471.74        f      l       1.000      0    10     f    4
  67     HeII    4685.69        f      l       1.000      0    10     f    4
  68     OIII    4931.23        f      l       1.000      0    10     f    4
  69     NII     5754.40        f      l       1.000      0    10     f    4
  70     HeI     5875.37        f      l       1.000      0    10     f    4
  71     NaI     5896.36        f      l       1.000      0    10     f    4
  72     NI      6527.23        f      l       1.000      0    10     f    4
  73     HeI     6678.16        f      l       1.000      0    10     f    4
  74     [OII]   7319.46        f      l       1.000      0    10     f    4
  75     OII     7329.98        f      l       1.000      0    10     f    4
  76     SIII]   9068.60        f      l       1.000      0    10     f    4
  77     SIII]   9530.60        f      l       1.000      0    10     f    4
  78     FeIII   2076.62        f      l       1.000      0    10     f    4
  79     FeII    2324.58        f      l       1.000      0    10     f    4
  80     FeII    2626.92        f      l       1.000      0    10     f    4
  81     FeII    2964.28        f      l       1.000      0    10     f    4
  82     FeII    3498.92        f      l       1.000      0    10     f    4
  83     FeII    4564.71        f      l       1.000      0    10     f    4
  84     [FeV]   4071.24        f      l       1.000      0    10     f    4
  85     [FeXIV] 5302.86        f      l       1.000      0    10     f    4
  86     [ClIII] 5537.89        f      l       1.000      0    10     f    4
  87     [FeVII] 5720.71        f      l       1.000      0    10     f    4
  88     [FeVII] 6086.29        f      l       1.000      0    10     f    4


# Sky lines - used to mask out regions affected by an imperfect
#             subtraction of the sky emission. Sky lines may also be
#             fitted instead of being subtracted.

190      sky     5577.4000 m      l       1.000      0    10      f      0
191      sky     5889.9000 m      l       1.000      0    10      f      0
192      sky     6157.5000 m      l       1.000      0    10      f      0
193      sky     6300.3000 m      l       1.000      0    10      f      0
194      sky     6363.8000 m      l       1.000      0    10      f      0
195      sky     7275.0497 m      l       1.000      0    10      f      0
196      sky     7282.9936 m      l       1.000      0    10      f      0
197      sky     7314.7802 m      l       1.000      0    10      f      0
198      sky     7339.4788 m      l       1.000      0    10      f      0
199      sky     7400.4127 m      l       1.000      0    10      f      0
200      sky     7522.5762 m      l       1.000      0    10      f      0
201      sky     7711.5680 m      l       1.000      0    10      f      0
202      sky     7715.8297 m      l       1.000      0    10      f      0
203      sky     7749.4827 m      l       1.000      0    10      f      0
204      sky     7759.0550 m      l       1.000      0    10      f      0
205      sky     7793.1733 m      l       1.000      0    10      f      0
206      sky     7807.8585 m      l       1.000      0    10      f      0
207      sky     7839.9020 m      l       1.000      0    10      f      0
208      sky     7852.2676 m      l       1.000      0    10      f      0
209      sky     7859.7707 m      l       1.000      0    10      f      0
210      sky     7869.3932 m      l       1.000      0    10      f      0
211      sky     7912.3341 m      l       1.000      0    10      f      0
212      sky     7920.2998 m      l       1.000      0    10      f      0
213      sky     7930.8736 m      l       1.000      0    10      f      0
214      sky     7948.0000 m      l       1.000      0    10      f      0
215      sky     7963.9344 m      l       1.000      0    10      f      0
216      sky     7992.4380 m      l       1.000      0    10      f      0
217      sky     8024.9856 m      l       1.000      0    10      f      0
218      sky     8061.9779 m      l       1.000      0    10      f      0
219      sky     8280.9855 m      l       1.000      0    10      f      0
220      sky     8288.5687 m      l       1.000      0    10      f      0
221      sky     8344.5730 m      l       1.000      0    10      f      0
222      sky     8352.7630 m      l       1.000      0    10      f      0
223      sky     8382.3473 m      l       1.000      0    10      f      0
224      sky     8399.1174 m      l       1.000      0    10      f      0
225      sky     8415.2073 m      l       1.000      0    10      f      0
226      sky     8430.0771 m      l       1.000      0    10      f      0
227      sky     8451.9886 m      l       1.000      0    10      f      0
228      sky     8465.2065 m      l       1.000      0    10      f      0
229      sky     8493.3357 m      l       1.000      0    10      f      0
230      sky     8504.6281 m      l       1.000      0    10      f      0
231      sky     8538.5717 m      l       1.000      0    10      f      0
232      sky     8761.2828 m      l       1.000      0    10      f      0
233      sky     8767.8810 m      l       1.000      0    10      f      0
234      sky     8776.1969 m      l       1.000      0    10      f      0
235      sky     8778.3076 m      l       1.000      0    10      f      0
236      sky     8791.1734 m      l       1.000      0    10      f      0
237      sky     8827.0657 m      l       1.000      0    10      f      0
238      sky     8836.5400 m      l       1.000      0    10      f      0
239      sky     8867.5378 m      l       1.000      0    10      f      0
240      sky     8885.7966 m      l       1.000      0    10      f      0
241      sky     8903.0848 m      l       1.000      0    10      f      0
242      sky     8919.7344 m      l       1.000      0    10      f      0
243      sky     8943.3928 m      l       1.000      0    10      f      0
244      sky     8957.9231 m      l       1.000      0    10      f      0
245      sky     8988.3162 m      l       1.000      0    10      f      0
246      sky     9001.5768 m      l       1.000      0    10      f      0
247      sky     9049.8480 m      l       1.000      0    10      f      0
248      sky     9313.3176 m      l       1.000      0    10      f      0
249      sky     9323.7068 m      l       1.000      0    10      f      0
250      sky     9375.9328 m      l       1.000      0    10      f      0
251      sky     9439.7041 m      l       1.000      0    10      f      0
252      sky     9476.9610 m      l       1.000      0    10      f      0
253      sky     9519.5278 m      l       1.000      0    10      f      0

# NaD - use to exclude regions affected by interstellar absorption, or
#       to reproduce such features through the use of negative
#       Gaussians, sharing the same velocity profile

# 500      NaI     5890.00 m      l       -1.000     0    10      t501
# 501      NaI     5896.00 m      l       -1.000     0    10      f

# BLR - to share the same position and width, but not necessarly
#       abiding to the same Balmer decrement as for the narrow
#       recombination lines

# 609      Hd_br   4101.73 m      l       1.000      0    1000    t624
# 610      Hg_br   4340.46 m      l       1.000      0    1000    t624
# 615      Hb_br   4861.32 m      l       1.000      0    1000    t624
# 624      Ha_br   6562.80 m      l       1.000      0    1000    f

# [OIII] blue wings - use a negative V_g offset to help achieving the
#                     desired profile.

# 716      [OIII]w 4958.83 m      d317    0.350      -200 10     f
# 717      [OIII]w 5006.77 m      l       1.000      -200 10     f
